@model NWBA.Models.customer

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profile</h2>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.custID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.custName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TFN)
        </dt>

        

     
        <dd>
            @Html.DisplayFor(model => model.custID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.custName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.TFN)
        </dt>
    
       

    </dl>
</div>