@model NWBA.Models.customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Profile</h2>

<div>
	<hr />
    <h4>Customer Information</h4>
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Model.custName
        </dd>
        <dt>
            TFN
        </dt>
        <dd>
            @Model.TFN
        </dd>
    </dl>
    </div>
<div>

    <h4> Address Information </h4>
    <dl class="dl-horizontal">
        <dt>
            Address Line 1
        </dt>
        <dd>
            @Model.addressLine1
        </dd>

        <dt>
            Address Line 2
        </dt>
        <dd>
            @Model.addressLine2
        </dd>

        <dt>
            Suburb
        </dt>
        <dd>
            @Model.suburb
        </dd>

        <dt>
            State
        </dt>
        <dd>
            @Model.state
        </dd>

        <dt>
            Postal Code
        </dt>
        <dd>
            @Model.postalCode
        </dd>
</dl>
    </div>
<div>

    <h4> Contact Information</h4>
<dl class="dl-horizontal">

        <dt>
            Phone Number
        </dt>
        <dd>
            @Model.phoneNumber
        </dd>

        <dt>
            Mobile
        </dt>
        <dd>
            @Model.mobile
        </dd>

        <dt>
            E-mail
        </dt>
        <dd>
            @Model.email
        </dd>
    </dl>
    </div>
       
      <dl class="dl-horizontal" >  
        <dd>
            @Html.ActionLink("Edit", "Edit", new { id = Model.custID })

        </dd>

    </dl>



